@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    src: url('fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf'), local('ttf');
    font-display: block;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    src: url('fonts/PlusJakartaSans/PlusJakartaSans-Italic-VariableFont_wght.ttf'), local('ttf');
    font-display: block;
}