header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin: 4rem 0;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
    }
}

.actions button{
    @include button_reset;
    &:focus-visible{
        @include focus_visible;
    }
}

.nav-link{
    color: var(--tx-normal);
    font-weight: 500;
    text-decoration-style: wavy;
    text-underline-offset: 0.3rem;
    text-decoration-color: var(--highlight);
    &:hover{
        color: var(--highlight);
    }
    &:active{
        text-shadow: 0 0 1em var(--highlight);
    }
}

.title{
    font-size: 1.2em;
    color: var(--tx-normal);
    font-weight: 500;
    text-decoration: none;
    &:hover{
        color: var(--highlight);
    }
    &:active{
        text-shadow: 0 0 1em var(--highlight);
    }
}

.actions .header-icon{
    font-size: 1.5em;
    &:hover, &:active{
        // animation: shake 0.2s;
        // animation-iteration-count: 1;
        // transform: scale(1.05);
        text-shadow: 0 0 0.5em var(--opposite-bg), 0 0 1em var(--opposite-bg), 0 0 1.2em var(--opposite-bg),;
    }
}
  