body{
    color: var(--tx-normal);
    font-family: var(--text-font);
    font-size: calc(1rem + 0.3vw);
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    margin: 0.8em 0;
}

a:focus-visible{
    @include link-focus-visible;
}

.section {
    em, em a {
        color: var(--tx-faint);
    }
    /** Links **/
    ul li::marker {
        color: var(--highlight);
    }
    a{
        color: var(--tx-normal);
        
        &:hover {
            color: var(--highlight);
            text-decoration-color: var(--highlight);
        }
        
        &:active {
            color: var(--highlight);
            text-decoration-color: var(--highlight);
            text-shadow: 0 0 1em var(--highlight);
        }
    }
}

section {
    a[target="_blank"]{
        display: inline-block;
        &:after{
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3EArtboard-5%3C/title%3E%3Cg id='Up_Right-3' data-name='Up Right'%3E%3Cpath d='M17,8v4a1,1,0,0,1-2,0V10.414L8.707,16.707a1,1,0,1,1-1.414-1.414L13.586,9H12a1,1,0,0,1,0-2h4A1,1,0,0,1,17,8Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
            background-size: 100% 100%;
            display: inline-block;
            height: 1em;
            width: 1em;
            margin-left: -0.15em;
            margin-right: -0.2em;
            filter: var(--filter-muted);
        }
    }
}

::selection {
    background: var(--highlight-33);
}

.faint {
    color: var(--tx-faint);
}