<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  {% set main_title = config.title | default(value="Coco") %}
  {% set current_url = current_url | default(value=config.base_url) %}
  {% if current_url == config.base_url %}
  <title>
    {{ main_title}}
  </title>
  {% else %}
    <title>
        {{ main_title }}
        {% if page.title %} | {{ page.title }}
        {% elif section.title %} | {{ section.title }}
        {% endif %}
    </title>
  {% endif %}

  <link rel="stylesheet" type="text/css" media="screen" href={{ get_url(path="main.css") }} />
  <script src={{ get_url(path="js/scheme.js") }}></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="wrap">
    {% include "partial/header.html" %}
    <section class="section">
      {% block content %} {% endblock %}
    </section>
  </div>
</body>

</html>